html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: #ffd04f;
}

::-webkit-scrollbar-thumb:hover {
    background: #daa700;
}

header {
    position: fixed;
    width: 100%;
    height: 75px;
    box-shadow: -2px 6px 9px -4px #fffefe;
    background-color: #363636;
    border-bottom: 3px solid rgb(226, 226, 226);
    z-index: 1000;
}

header > img {
    position: absolute;
    width: 40px;
    margin: 15px;
    margin-left: 3%;
}

header > ul {
    position: absolute;
    right: 30px;
    bottom: 6px;
    font-size: 18px;
    font-family: 'Righteous', cursive;
    list-style: none;
    color: #4a3a3a;
}

header >  h1  {
    position: absolute;
    font-size: 28px;
    font-family: 'Syncopate', sans-serif;
    letter-spacing: 3px;
    color: #fff;
    margin-left: 6%;
    margin-top: 23px;
}

header >  ul > li {
    display: inline-block;
}

header >  ul > li > a {
    transition-duration: 1s;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid transparent;
    color: rgb(245, 245, 245);
    transition: 0.6s ease;
    border-radius: 5px;
}

header > ul > li > a:hover{
    cursor: pointer;
    background-color: rgb(190, 190, 190);
    color: #000;
}

header > ul > li.active > a {
    background-color: rgb(190, 190, 190);;
    color: #000;
}

body > main  {
    position: relative;
}

#home {
    background-image: url("../image/background5.jpg");
    background-size: cover;
    background-position: bottom center;
    position: relative;
    height: 775px;
    z-index: 1;
}

#home::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .4;
    z-index: -1;
}

.icon {
    position: absolute;
    margin-left: 68%;
    margin-top: 640px;
}


#home > .icon a img {  
    width: 40px;
    margin: 15px;
}

.icon a img:hover {
    width: 45px;
    cursor: pointer;
    border-radius: 5px;
    background-color: tomato;
}

.home_text {
    min-height: 100vh;
    width: 100%;
    display: flex;
}

.home_text > div > h1{
    animation: text_reveal 0.5s ease forwards;
    animation-delay: 2s;
    color: transparent;
}

.home_text > div > h1:nth-child(1) { 
    animation-delay: 2s;
    display: block;
    font-family: Arial;
    width: fit-content;
    font-size: 3rem;
    padding-left: 15%;
    margin-top: 28%;
    position: relative;
}

.home_text > div > h1:nth-child(2) {   
    animation-delay: 3s;
    display: block;
    font-family: Arial;
    width: fit-content;
    font-size: 3rem;
    padding-left: 15%;
    margin-top: 7%;
    position: relative;
}

.home_text > div > h1:nth-child(3) {
    animation: text_reveal_name 0.5s ease forwards;
    animation-delay: 4s;
    display: block;
    font-family: serif;
    width: fit-content;
    font-size: 5rem;
    padding-left: 15%;
    margin-top: 15%;
    position: relative;
}

.home_text > div > h1:nth-child(4) {
    animation-delay: 5s;
    display: block;
    font-family: Arial;
    width: fit-content;
    padding-left: 15%;
    margin-top: 15%;
    font-size: 1.5rem;
    position: relative;
}

.home_text > div > h1 > span{
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    position: absolute;
    animation-delay: 0.5s;
    background-color: rgb(238, 94, 68);
    animation: text_reveal_box 1s ease;
}

.home_text > div > h1:nth-child(1) span{
    animation-delay: 1.5s;
}

.home_text > div > h1:nth-child(2) span{
    animation-delay: 2.5s;
}

.home_text > div > h1:nth-child(3) span{
    animation-delay: 3.5s;
}

.home_text > div > h1:nth-child(4) span{
    animation-delay: 4.5s;
}

@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: rgb(220, 183, 20);
	}
}


/* about...///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

main > #about {
    display: flex;
    position: relative;
    background-color: rgb(12, 12, 12);
    height: 700px;
}

#about > div {
    position: relative;
    background-color: rgb(39, 39, 39);
    height: 97%;
    width: 98%;
    border-radius: 20px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#about > div > h1 {
    font-size: 3rem;
    color: white;
    top: 0;
    position: absolute;
    margin-left: 42%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#about > div > h1 > span {
    font-size: 3rem;
    color:  rgb(238, 202, 0);
}

#about > div > p {
    font-size: 1rem;
    color: white;
    position: absolute;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    margin-top: 11%;
    margin-left: 40%;
    letter-spacing: 1px;
}

#about > div > img {
    width: 290px;
    height: 350px;
    background-size: cover;
    box-shadow: 15px -15px 1px 1px rgb(90, 90, 90);
    position: absolute;
    margin-top: 160px;
    margin-left: 150px;
    border: solid rgb(173, 137, 19) 5px;
}

#about > div > :nth-child(4){
    background-color: rgb(78, 78, 78);
    position: absolute;
    width: 55%;
    height: 7%;
    margin-left: 40%;
    margin-top: 240px;
}

#about > div > :nth-child(4) > p{
    color: white;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 10px;
    margin-left: 12px;

}

#about > div > :nth-child(5){
    position: absolute;
    background-color: rgb(78, 78, 78);
    width: 55%;
    height: 45%;
    margin-left: 40%;
    margin-top: 300px;
    color: white;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 10px;
}

#about > div > :nth-child(5) > pre{
    padding-left: 60px;
    padding-top: 22px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


#about > div > :nth-child(6) > p{
    padding-left: 1px;
    padding-top: 22px;
}

#about > div > .cv{
    color: white;
    text-decoration: none;
    border: 3px solid rgb(219, 184, 26);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    margin-top: 560px;
    margin-left: 210px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}

#about > div > .cv:hover{
    background-color: rgb(192, 20, 20);
    border: solid white;
}

/* skill //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

main > #skill {
    display: flex;
    position: relative;
    background-color: rgb(12, 12, 12);
    height: 1200px;

}

#skill > div {
    position: absolute;
    background-color: rgb(39, 39, 39);
    height: 100%;
    width: 98%;
    border-radius: 20px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#skill > div > h1 {
    font-size: 3rem;
    color: white;
    top: 0;
    position: relative;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#skill > div > h1 > span {
    font-size: 3rem;
    color:  rgb(238, 202, 0);
}

#skill > div > p{
    text-align: center;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    margin-top: 3%;
    letter-spacing: 0.95px;
}

#skill > div > p > span{
    color: rgb(255, 215, 104);
}

#program {
    position: relative;
    background-color: rgb(88, 87, 87);
    height: 35%;
    width: 87%;
    border-radius: 15px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 50px;
}

#network {
    position: relative;
    background-color: rgb(88, 87, 87);
    height: 35%;
    width: 87%;
    border-radius: 15px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 40px;
}

#network > h1{
    padding: 20px;
    font-size: 27px;
    color: #fff;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#program > h1{
    padding: 20px;
    font-size: 27px;
    color: #fff;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#program > div{
    position: absolute;
    border: solid rgb(214, 0, 0) 5px;
    background-color: #fff;
    width: 16%;
    height: 52%;
    border-radius: 10px;
    margin-left: 12%;
    margin-top: 10px;
}

/* #program > div{
     position: absolute;
    width: 15.5%;
    height: 52%;
    border-radius: 10px;
    margin-left: 12%;
    margin-top: 30px;
    box-shadow: 16px 14px 20px #0000008c;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center; 
}
#program > div::before{
    content: "";
    background-image: conic-gradient(#ff0052 20deg, transparent 120deg);
    width: 250%;
    height: 250%;
    position: absolute;
    animation: rotate 3s linear infinite;
}
#program > div:nth-child(2)::after{
    content: "";
    width: 190px;
    height: 190px;
    position: absolute;
    border-radius: 10px;
    display: flex;
    color: #ff0052;
    box-shadow: inset 10px 10px 20px #0000008c;
    background-image: url(../image/p1.jpg);
    background-size: cover;
    background-position-x: center;
}
#program > div:nth-child(3)::after{
    content: "";
    width: 190px;
    height: 190px;
    position: absolute;
    border-radius: 10px;
    display: flex;
    color: #ff0052;
    box-shadow: inset 10px 10px 20px #0000008c;
    background-image: url(../image/p2.png);
    background-size: cover;
}
#program > div:nth-child(4)::after{
    content: "";
    width: 190px;
    height: 190px;
    position: absolute;
    border-radius: 10px;
    display: flex;
    color: #ff0052;
    box-shadow: inset 10px 10px 20px #0000008c;
    background-image: url(../image/p3.png);
    background-size: cover;
}
#program > div:nth-child(5)::after{
    content: "";
    width: 190px;
    height: 190px;
    position: absolute;
    border-radius: 10px;
    display: flex;
    color: #ff0052;
    box-shadow: inset 10px 10px 20px #0000008c;
     background-image: url(../image/p4.jpg);
    background-size: cover;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
} */


#program > div:nth-child(2){
    background-image: url(../image/p1.jpg);
    background-size: cover;
    background-position-x: center;
}

#program > div:nth-child(3){
    left: calc(100%/5);
    background-image: url(../image/p2.png);
    background-size: cover;
}
#program > div:nth-child(4){
    left: calc((100%/5)*2);
    background-image: url(../image/p3.png);
    background-size: cover;
}

#program > div:nth-child(5){
    left: calc((100%/5)*3);
    background-image: url(../image/p4.jpg);
    background-size: cover;
}

#network > div{
    position: absolute;
    border: solid rgb(214, 0, 0) 5px;
    background-color: #fff;
    width: 16%;
    height: 52%;
    border-radius: 10px;
    margin-left: 12%;
    margin-top: 30px;
}

#network > div:nth-child(2){
    background-image: url(../image/n1.jpg);
    background-size: cover;
}

#network > div:nth-child(3){
    left: calc(100%/5);
    background-image: url(../image/n2.jpg);
    background-size: cover;
}

#network > div:nth-child(4){
    left: calc((100%/5)*2);
    background-image: url(../image/n3.jpg);
    background-size: cover;
}

#network > div:nth-child(5){
    left: calc((100%/5)*3);
    background-image: url(../image/n4.png);
    background-size: cover;
    background-position-x: center;
}

/* projects ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

main > #project {
    display: flex;
    background-color: rgb(12, 12, 12);
    height: 1100px;
}

#project > div {
    position: relative;
    background-color: rgb(39, 39, 39);
    height: 97%;
    width: 98%;
    border-radius: 20px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#project > div > h1 {
    font-size: 3rem;
    color: white;
    top: 0;
    position: relative;
    text-align: center;
    /* margin-left: 42%; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#project > div > h1 > span {
    font-size: 3rem;
    color:  rgb(238, 202, 0);
}

#project > div > p{
    text-align: center;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    margin-top: 3%;
    letter-spacing: 0.95px;
}

#project > div > p > span{
    color: rgb(255, 215, 104);
    font-size: 20px;
    font-weight: 500;
}

#project > div > .projects{
    position: relative;
    background-color: rgb(88, 87, 87);
    height: 70%;
    width: 90%;
    border-radius: 15px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 50px;
}

.projects > div{
    position: absolute;
    border: solid rgb(0, 120, 233) 5px;
    background-color: #fff;
    width: 28%;
    height: 36%;
    border-radius: 10px;
    margin-left: 2%;
    margin-top: 60px;
    color: transparent;
    z-index: 1;
}

.projects > div::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}

.projects > div:nth-child(1){
    background-image: url(../image/hotel.png);
    background-size: cover;
    background-position-x: center;
}

.projects > div:nth-child(1) > p{
    margin-top: 20%;
    margin-left: 5%;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.projects > div:nth-child(1) > p span{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.projects > div:hover{
    color: rgb(255, 179, 179);
    transition-duration: 00.8s;
    animation-name: box;
    animation-direction: alternate;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

.projects > div a .buton{
    position: absolute;
    width: 100px;
    height: 20px;
    margin-left: 5%;
    border: solid rgb(252, 156, 156) 2px;
    color: rgb(252, 156, 156);
    text-align: center;
    padding-top: 3px;
    padding-bottom: 1px;
}

.buton span{
    text-decoration: none;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.projects > div a .buton:hover{
    color: rgb(248, 74, 43);
    border: solid rgb(248, 74, 43);
}

.projects > div:nth-child(2){
    left: calc(100%/3);
    background-image: url(../image/wholesale.png);
    background-size: cover;
    background-position-x: center;
}

.projects > div:nth-child(2) > p{
    margin-top: 20%;
    margin-left: 5%;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.projects > div:nth-child(2) > p span{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.projects > div:nth-child(3){
    left: calc((100%/3)*2);
    background-image: url(../image/vehicle.jpg);
    background-size: cover;
    background-position-x: center;
}

.projects > div:nth-child(3) > p{
    margin-top: 20%;
    margin-left: 5%;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.projects > div:nth-child(3) > p span{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.projects > div:nth-child(4){
    top: calc(100%/2);
    background-image: url(../image/super.webp);
    background-size: cover;
    background-position-x: center;
}

.projects > div:nth-child(4) > p{
    margin-top: 20%;
    margin-left: 5%;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.projects > div:nth-child(4) > p span{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.projects > div:nth-child(5){
    top: calc(100%/2);
    left: calc(100%/3);
    background-image: url(../image/student.png);
    background-size: cover;
    background-position-x: center;
}

.projects > div:nth-child(5) > p{
    margin-top: 20%;
    margin-left: 5%;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.projects > div:nth-child(5) > p span{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.projects > div:nth-child(6){
    top: calc(100%/2);
    left: calc((100%/3)*2);
    background-color: transparent;
    border-color: transparent;
}

.projects > div:nth-child(6) > a{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-align: center;
    color: rgb(94, 193, 250);
    position: absolute;
    margin-top: 30%;
    margin-left: 35%;
    text-decoration-line: underline;
}

.projects > div:nth-child(6) > a:hover{
    color: rgb(176, 249, 252);
}

.projects > div > .name{
    width: 100%;
    height: 20%;
    position: absolute;
    font-weight: 500;
    font-size: 1.2rem;
    color: rgb(204, 204, 204);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(28, 53, 107);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.name > span{
    position: absolute;
    left: 20px;
    top: 8px;

}


/* education /////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

main > #education {
    display: flex;
    position: relative;
    background-color: rgb(12, 12, 12);
    height: 1000px;
}

#education > div {
    position: absolute;
    background-color: rgb(39, 39, 39);
    height: 100%;
    width: 98%;
    border-radius: 20px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#education > div > h1 {
    font-size: 3rem;
    color: white;
    top: 0;
    position: relative;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#education > div > h1 > span {
    font-size: 3rem;
    color:  rgb(238, 202, 0);
}

#education > div > p{
    text-align: center;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    margin-top: 3%;
    letter-spacing: 0.95px;
}

#education > div > p > span{
    color: rgb(255, 215, 104);
    font-size: 20px;
    font-weight: 500;
}

#education > div > .edu{
    position: relative;
    background-color: rgb(71, 71, 71);
    height: 70%;
    width: 90%;
    border-radius: 15px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 50px;
}

.edu >section{
    position: absolute;
    width: 8px;
    height: 600px;
    left: 49%;
    top: 70px;
    background-color: rgb(96, 191, 255);
    border-radius: 100%;
}

.edu > div{
    color: white;
    left: 10%;
    width: 350px;
    height: 200px;
    position: absolute;
}

.edu > div > div{
    width: 100%;
    height: 30%;
    background-color: rgb(131, 131, 131);
}

.edu > div:nth-child(2){
    border-left: solid rgb(0, 160, 144) 8px;
    left: 20%;
    top: 80px;
}

.edu > div:nth-child(3){
    border-right: solid rgb(0, 160, 144) 8px;
    left: 51%;
    top: 260px;
}

.edu > div:nth-child(4){
    border-left: solid rgb(0, 160, 144) 8px;
    left: 20%;
    top: 420px;
}

.edu > div > h1{
    font-size: 20px;
    text-align: center;

}

.edu > div > div > span{
    position: absolute;
    margin-left: 10px;
    margin-top: 15px;
    text-align: center;
    font-size: 19px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.edu > div > span{
    margin-left: 10px;
    position: absolute;
    margin-top: 15px;
    text-align: center;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.edu > div:nth-child(3) > span{
    margin-left: 70px;
}


/* services ///////////////////////////////////////////////////////////////////////////////////////////////////////// */

main > #service {
    display: flex;
    position: relative;
    background-color: rgb(12, 12, 12);
    height: 900px;
}

#service > div {
    position: relative;
    background-color: rgb(39, 39, 39);
    height: 97%;
    width: 98%;
    border-radius: 20px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#service > div > h1 {
    font-size: 3rem;
    color: white;
    top: 0;
    position: relative;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#service > div > h1 > span {
    font-size: 3rem;
    color:  rgb(238, 202, 0);
}

#service > div > .services{
    position: relative;
    background-color: rgb(71, 71, 71);
    height: 75%;
    width: 90%;
    border-radius: 15px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 3%;
}

.services > div{
    width: 28%;
    height: 50%;
    background-color: thistle;
    position: absolute;
    border: solid rgb(190, 167, 31) 3px;
    z-index: 1;
    color: transparent;
}


.services > div:nth-child(1){
    margin-top: 12%;
    margin-left: 5%;
    background-image: url(../image/desktop.png);
    background-size: cover;
    background-position-x: center;
    perspective: 3000px;
    position: absolute;
}

.services > div:nth-child(1) > p{
    margin-top: 50px;
    margin-left: 20px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.services > div:nth-child(1) > p span{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.services > div:nth-child(1):hover{
    color: rgb(102, 255, 127);
    transition-duration: 00.6s;
    transform: translateY(-7%);
}

.services > div:nth-child(2){
    margin-top: 12%;
    margin-left: 36%;
    background-image: url(../image/mobile.jpg);
    background-size: cover;
    background-position-y: center;
}

.services > div:nth-child(2) > p{
    margin-top: 50px;
    margin-left: 20px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.services > div:nth-child(2) > p span{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.services > div:nth-child(2):hover{
    color: rgb(102, 255, 127);
    transition-duration: 00.6s;
    transform: translateY(-7%);
}

.services > div:nth-child(3){
    margin-top: 12%;
    margin-left: 67%;
    background-image: url(../image/network.jpg);
    background-size: cover;
    background-position-y: center;
}

.services > div:nth-child(3) > p{
    margin-top: 50px;
    margin-left: 20px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.services > div:nth-child(3) > p span{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.services > div:nth-child(3):hover{
    color: rgb(102, 255, 127);
    transition-duration: 00.6s;
    transform: translateY(-7%);
}

.services > div:nth-child(3)::after{
    animation-name: box;
    animation-direction: alternate;
    animation-delay: 1s;
    transition-duration: 00.8s;
    animation-duration: 0.6s;
    animation-iteration-count: 1;
}

@keyframes box {
    0%{
        transform: rotate(0deg);
    }

    25%{
        transform: rotate(6deg);
    }

    50%{
        transform: rotate(-6deg);
    }

    75%{
        transform: rotate(-6deg);
    }

    100%{
        transform: rotate(6deg);
    }
}

.services > div::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}

.services > div > div{
    position: relative;
    width: 100%;
    height: 15%;
    background-color: rgb(90, 90, 90);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: rgb(185, 255, 176);
}

.services > div > div > span{
    position: absolute;
    top: 13px;
    left: 15px;
    justify-content: center;
}

.services > a > span{
    text-decoration: underline;
    position: absolute;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 232, 232);
    top: 550px;
    left: 45%;
    font-weight: 500;
}

.services > a > span:hover{
    color: rgb(143, 191, 255);
    font-weight: 510;
}


/* contact///////////////////////////////////////////////////////////////////////////////////////////////////////////// */

main > #contact {
    display: flex;
    position: relative;
    background-color: rgb(12, 12, 12);
    height: 900px;
}

#contact > div {
    position: relative;
    background-color: rgb(39, 39, 39);
    height: 98%;
    width: 98%;
    border-radius: 20px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#contact > div > h1 {
    font-size: 3rem;
    color: white;
    top: 0;
    position: relative;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#contact > div > h1 > span {
    font-size: 3rem;
    color:  rgb(238, 202, 0);
}

#contact > div > .detail{
    background-color: transparent;
    position: absolute;
    height: 75%;
    width: 40%;
    border-radius: 15px;
    left: 5%;
    margin-top: 3%;

}

.detail p:nth-child(1){
    font-size: 35px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    font-weight: 800;
    margin-left: 10%;
}

.detail div:nth-child(2) {
    margin-left: 10%;
    width: 60%;
    height: 26%;
    background-color: rgb(99, 99, 99);
    border-radius: 8px;
}

.detail  div:nth-child(2) a img{
    width: 70px;
    height: 70px;
    position: absolute;
    margin-top: 40px;
    margin-left: 130px;
}

.detail  div:nth-child(2) a  span {
    position: absolute;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: white;
    margin-top: 130px;
    margin-left: 105px;
}

.detail div:nth-child(3) {
    margin-top: 20px;
    margin-left: 10%;
    width: 60%;
    height: 26%;
    background-color: rgb(99, 99, 99);
    border-radius: 8px;
}

.detail  div:nth-child(3) img{
    width: 70px;
    height: 70px;
    position: absolute;
    margin-top: 40px;
    margin-left: 130px;
}

.detail div:nth-child(3) span{
    position: absolute;
    font-size: 22px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: white;
    margin-top: 120px;
    margin-left: 115px;
}

.detail div:nth-child(4){
    margin-top: 40px;
    margin-left: 9%;
    width: 60%;
    height: 7%;
}

.detail p:nth-child(5){
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    margin-top: 40px;
    margin-left: 10%;
}

.icons  a img {
    width: 35px;
    margin: 10px;
}

.icons  a img:hover {
    width: 40px;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(129, 188, 255);
}

#contact  div  .inputs{
    position: relative;
    display: inline-block;
    background-color: rgb(99, 99, 99);
    height: 70%;
    width: 50%;
    border-radius: 15px;
    margin-left: 40%;
    margin-top: 6%;
}

input[type=text], select {
    width: 70%;
    padding: 12px 20px;
    display: inline-block;
    border: 3px solid #c01725;
    border-radius: 10px;
    box-sizing: border-box;
    position: absolute;
    top: 10%;
    left: 30px;
}

input[type=text]:hover {
    border: 3px solid #389bc2;
}

input[type=email], select {
    width: 70%;
    padding: 12px 20px;
    display: inline-block;
    border: 3px solid #c01725;
    border-radius: 10px;
    box-sizing: border-box;
    position: absolute;
    top: 25%;
    left: 30px;
}

input[type=email]:hover {
    border: 3px solid #3e9bc0;
}

input[type=subject], select {
    width: 70%;
    padding: 12px 20px;
    display: inline-block;
    border: 3px solid #c01725;
    border-radius: 10px;
    box-sizing: border-box;
    position: absolute;
    top: 40%;
    left: 30px;
}

input[type=subject]:hover {
    border: 3px solid #3294bb;
}

input[type=textarea], select {
    width: 80%;
    height: 165px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid #c01725;
    border-radius: 10px;
    box-sizing: border-box;
    position: absolute;
    top: 55%;
    left: 30px;
}

input[type=textarea]:hover {
    border: 3px solid #3996bb;
}

.button{
    text-decoration: none;
    width: 100px;
    padding: 9px 15px;
    height: 21px;
    background-color: #b92e3a;
    cursor: pointer;
    border: solid rgb(255, 185, 185) 2px;
    font-weight: 500;
    border-radius: 8px;
    position: absolute;
    top: 88%;
    left: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.button:hover{
    background-color: rgb(255, 68, 68);
}

.button div{
    position: absolute;
    left: 15%;
}

/* tab ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@media all and (max-width: 1024px) {
    header {  
        width: 100%;
        height: 65px;
    }
    
    header > img {
        display: none;
    }
    
    header > ul {
        /* left: 16%; */
        
        align-items: center;
        justify-content: center;
        display: flex;
        font-size: 17px;
    }
    
    header >  h1  {
        display: none;
    }

    header >  ul > li > a {
        padding: 5px 5px;
    }

    .icon {
        margin-left: 58%;
        margin-top: 570px;
    }

    .home_text > div > h1:nth-child(1) {  
        font-size: 3rem;
        margin-top: 25%; 
    }

    .home_text > div > h1:nth-child(3) {    
        font-size: 4.5rem;
        padding-left: 15%;
        margin-top: 10%;  
    }

    .home_text > div > h1:nth-child(4) {
        margin-top: 13%;
    }

    #about > div > img {
        width: 250px;
        height: 306px;  
        margin-top: 175px;
        margin-left: 62px;
    }

    #about > div > .cv {   
        margin-top: 538px;
        margin-left: 115px;  
    }
     
    #about > div > p {
        font-size: 16px;
        margin-top: 14%;
        margin-left: 38%;
        letter-spacing: 1px;
    }

    #about > div > :nth-child(5) > pre {
        padding-left: 32px;
        padding-top: 22px;
    }

    #about > div > :nth-child(5) { 
        width: 57%;
        height: 45%;
        margin-left: 38%;
        margin-top: 300px;
        font-size: 18px;  
    }

    #about > div > :nth-child(4) {
        width: 57%;
        height: 7%;
        margin-left: 38%;
        margin-top: 240px;
    }

    #skill > div > p {
        text-align: center;
        font-size: 15px;
        margin-top: 11%;
        letter-spacing: 0.95px;
    }

    #program > h1 { 
        font-size: 24px;
    }

    #program > div {
        width: 15%;
        height: 38%;
        border-radius: 10px;
        margin-left: 12%;
        margin-top: 30px;
    }

    #skill > div > #program {
        height: 30%;
        width: 87%;
        margin-top: 80px;
    }

    #network > div {    
        width: 16%;
        height: 30%;
        margin-top: 30px;
    }

    #network > div {
        width: 15%;
        height: 38%;
        border-radius: 10px;
    }

    #network > h1 {
        font-size: 24px;  
    }

    #skill > div > #network {  
        height: 30%;
        width: 87%;
        margin-top: 60px;
    }

    main > #project {
        height: 900px;
    }

    #project > div > p {
        font-size: 15px;      
    }

    .projects > div > .name {
        font-weight: 400;
        font-size: 14px; 
    }

    .projects > div:nth-child(1) > p {
        margin-top: 22%;
        font-size: 15px;
    }

    .projects > div:nth-child(1) > p span {
        font-size: 19px;
        font-weight: 600;
    }

    .projects > div:nth-child(2) > p {
        margin-top: 22%;
        font-size: 15px;
    }

    .projects > div:nth-child(2) > p span {
        font-size: 19px;
        font-weight: 600;
    }

    .projects > div:nth-child(3) > p {
        margin-top: 22%;
        font-size: 15px;
    }

    .projects > div:nth-child(3) > p span {
        font-size: 19px;
        font-weight: 600;
    }

    .projects > div:nth-child(4) > p {
        margin-top: 22%;
        font-size: 15px;
    }

    .projects > div:nth-child(4) > p span {
        font-size: 19px;
        font-weight: 600;
    }

    .projects > div:nth-child(5) > p {
        margin-top: 22%;
        font-size: 15px;
    }

    .projects > div:nth-child(5) > p span {
        font-size: 19px;
        font-weight: 600;
    }

    .projects > div:nth-child(6) > a {    
        margin-top: 41%;
        margin-left: 25%;
    }

    #education > div > p {
        font-size: 15px; 
    }

    .edu > div {  
        width: 290px;
        height: 180px;  
    }

    .edu > div > h1 {
        font-size: 18px;
    }

    .edu > div > div > span {
        font-size: 16px;  
    }

    .edu > div > span {  
        font-size: 18px;
    }

    .edu > div:nth-child(2) {
        left: 13%;
        top: 80px;
    }
    .edu > div:nth-child(4) {
        left: 13%;
        top: 420px;
    }

    .edu > div:nth-child(3) {
        left: 53%;
        top: 260px;
    }

    main > #service {
        height: 850px;
    }

    main > #contact {
        height: 850px;
    }

    .detail div:nth-child(2) {
        width: 64%;    
    }

    .detail div:nth-child(3) {
        width: 64%;
    }
    
    .detail div:nth-child(2) a img {
        margin-left: 92px;
    }

    .detail div:nth-child(2) a span {
        margin-left: 68px;
    }

    .detail div:nth-child(3) img {
        margin-left: 96px;
    }

    .detail div:nth-child(3) span {
        margin-left: 69px;
    }

    .detail div:nth-child(4) {
        margin-top: 40px;
        margin-left: 9%;
        width: 73%;
        height: 7%;
    }

}

/* mobile //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@media all and (max-width: 426px) {

    header > ul {
        display: none;
    }

    header > h1 {
        display: block;
        margin-left: 22%;
        margin-top: 23px;
    }

    header > img {
        display: block;
        margin-left: 9%;
    }

    .home_text > div > h1:nth-child(1) {
        font-size: 40px;
        margin-top: 36%;
    }

    .home_text > div > h1:nth-child(2) {   
        font-size: 35px;   
    }

    .home_text > div > h1:nth-child(3) {
        font-size: 45px;
    }

    .icon {
        margin-left: 6%;
        margin-top: 590px;
    }

    main > #about {
        height: 850px;
    }

    #about > div {
        height: 97%;
       
    }

    #about > div > h1 > span {
        font-size: 2.5rem;
    }

    #about > div > h1 {
        font-size: 2.5rem;
        margin-left: 28%;
    }

    #about > div > p {
        margin-left: 4%;
        letter-spacing: 1px;
        text-align: center;
        font-size: 14px;
        margin-top: 22%;
        letter-spacing: 0.95px;
    }

    #about > div > img {
        width: 230px;
        height: 280px;
        margin-top: 198px;
        margin-left: 84px;
    }

    #about > div > :nth-child(4) {
        display: none;
    }

    #about > div > :nth-child(5) > pre {
        padding-left: 20px;
        padding-top: 18px;
    }

    #about > div > :nth-child(5) {
        width: 90%;
        height: 27%;
        margin-left: 5%;
        margin-top: 509px;
        font-size: 12px;
    }

    #about > div > .cv {
        margin-top: 750px;
        margin-left: 117px;
    }
    #skill > div > h1 {
        font-size: 2.5rem;
        margin-left: 28%;
    }

    #skill > div > p {
        text-align: center;
        font-size: 14px;
        margin-top: 27%;
        letter-spacing: 0.95px;
    }

    #skill > div > #program {
        height: 33%;
        width: 87%;
        margin-top: 26px;
    }

    #program > h1 {
        font-size: 21px;
    }

    #program > div {
        width: 28%;
        height: 26%;
        border-radius: 10px;
        margin-left: 19%;
        margin-top: 0px;
    }

    #program > div:nth-child(3) {
        left: calc(100%/3);
    }
    
    #program > div:nth-child(4) {
        left: 0;
        top: calc((100%/3)*1.7);
    }

    #program > div:nth-child(5) {
        left: calc(100%/3);
        top: calc((100%/3)*1.7);
    }

    #skill > div > #network {
        height: 33%;
        width: 86%;
        margin-top: 28px;
    }

    #network > h1 {
        font-size: 21px;
    }

    #network > div {
        width: 28%;
        height: 26%;
        margin-top: 0px;
        margin-left: 19%;
    }

    #network > div:nth-child(3) {
        left: calc(100%/3);
    }

    #network > div:nth-child(4) {
        left: 0;
        top: calc((100%/3)*1.7);
    }

    #network > div:nth-child(5) {
        left: calc(100%/3);
        top: calc((100%/3)*1.7);
    }
    #project > div > h1 {
        font-size: 2.5rem;
        margin-left: 24%;
        top: 12px;
    }

    #project > div > p {
        font-size: 15px;
        margin-top: 25%;
    }

    #project > div > h1 > span {
        font-size: 2.5rem;
        margin-top: 19%;
    }

    .projects > div:nth-child(5) {
        display: none;
    }

    .projects > div:nth-child(2) {
        display: none;
    }

    .projects > div:nth-child(3) {
        display: none;
    }

    .projects > div {
        width: 83%;
        height: 36%; 
        margin-left: 7%;
        margin-top: 33px;
    }

    .projects > div:nth-child(4) {
        top: 43%;
    }

    .projects > div:nth-child(6) {
        height: 6%;
        top: 85%;
        left: 0;
    }

    .projects > div:nth-child(6) > a {
        margin-top: 2%;
        margin-left: 27%;
    }

    .projects > div > .name {
        font-weight: 400;
        font-size: 16px;
    }

    #project > div > .projects {
        top: -2%;
        height: 70%;
        width: 90%;
    }

    /* education /////////////////////////////////////////////////////////// */

    #education > div > h1 {
        font-size: 2.5rem; 
        top: 0;
        margin-left: 19%;
    }

    #education > div > h1 > span {
        font-size: 2.5rem;
    }

    #education > div > p {
        font-size: 14px;
        margin-top: 26%;
    }

    #education > div > p > span {
        font-size: 18px;
        font-weight: 500;
    }

    #education > div > .edu {
        margin-top: 28px;
    }

    .edu >section {
        background-color: rgb(120 120 120);
    }

    .edu > div:nth-child(2) {
        left: 12%;
        top: 24px;
    }

    .edu > div:nth-child(3) {
        left: 12%;
        top: 245px;
    }

    
    .edu > div:nth-child(4) {
        left: 12%;
        top: 470px;
    }

    #service > div > h1 {
        font-size: 2.5rem;
        margin-left: 24%;
    }

    #service > div > h1 > span {
        font-size: 2.5rem;
    }

    #service > div > .services {
        height: 82%;
        width: 90%;
        top: 56px;
    }

    .services > div:nth-child(2) {
        display: none;
    }

    .services > div {
        width: 73%;
        height: 40%;
    }

    .services > div:nth-child(1) {
        margin-top: 5%;
        margin-left: 13%;
    }

    .services > div:nth-child(3) {
        margin-top: 86%;
        margin-left: 13%;
    }

    .services > a > span {
        font-size: 20px;
        top: 616px;
        left: 29%;
    }
 /* contact /////////////////////////////////////////////////////////////////////////////////////////// */

    #contact > div > h1 {
        font-size: 2.5rem;
        margin-left: 25%;
    }

    #contact > div > h1 > span {
        font-size: 2.5rem;
    }

    .detail div:nth-child(2) {
        display: none;
    }

    .detail div:nth-child(3) {
        display: none;
    }

    #contact div .inputs {
        height: 56%;
        width: 86%;
        margin-left: 8%;
        margin-top: 24%;
    }

    #contact > div > .detail {
        height: 35%;
        width: 100%;
        left: 5%;
        margin-top: 123%;
    }

    .detail p:nth-child(1) {
        font-size: 23px;
        font-weight: 700;
        margin-left: 8%;
        margin-top: 20%;
    }

    .detail div:nth-child(4) {
        margin-top: 29px;
        margin-left: 6%;
        width: 73%;
        height: 11%;
    }

    .detail p:nth-child(5) {
        font-size: 14px;
        margin-top: 50px;
        margin-left: 14%;
    }

    input[type=textarea], select {
        height: 126px;
    }

}
